
  <%- include("header") -%>

<div class="box" id="heading">

  <h1>WELCOME TO YOUR TO-DO LIST!</h1>
  <p>Go to "/<a href="/add">add</a>" to add list itmes </p>
  <p>Go to "/<a href="/all">all</a>" to view all list items</p>
  <p>Go to "/<a href="/work">work</a>" to add to your work list</p>

</div>

